<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Animals</title>
</head>
<body>
    <h1>New Animals</h1>
        <form action="/animals" method="POST" autocomplete="off">
            <input type="text" name="animal">
            <button type="submit">Add Animal</button>
        </form>
    
</body>
</html>