body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

body {
  background-color: #9bd0e6;
}

h1 {
  color: white;
  text-shadow: 2px 2px  rgb(110, 110, 236);
  
}

li {
  padding: 20px;
  font-size: 20px;
  color: white
}

button {
  color: white;
  background-color: rgb(110, 110, 236);
}